.DS_Store
a.out
*.o
libft-unit-test/
libft/libft.a
Libft/libft.a
ft_printf/printfTester/
ft_printf/prr
push_swap/ft_printf/prr
/ft_printf/prr
pipex-tester/
/pipex/pipex-tester/
pipexMedic/
/pipex/pipexMedic/
